html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: #129c78;
    min-height: 100vh;
    height: 100vh;
}

div {
    display: block;
}

h1 {
    font-size: 7vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #171717;
    margin-bottom: 0;
}

h2 {
    font-size: 5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h3 {
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 250;
}

p {
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

a {
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.navbar-container {
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1%;
    width: 100%;
    z-index: 42;
}

.navbar-list-left {
    display: inline-flex;
    flex-basis: 30%;
    flex-direction: row;
    justify-content: left;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.navbar-logo {
    display: flex;
    color: #feffff;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
}

.navbar-logo a {
    display: flex;
    color: #feffff;
    text-align: center;
    padding: 0 40px;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 500;
    font-style: italic;
}


.navbar-list {
    display: flex;
    flex-direction: row;
    flex-basis: 70%;
    justify-content: space-around;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.navbar-item a{
    display: flex;
    color: #feffff;
    text-decoration: none;
    font-size: 1.2vw;
    text-align: center;
}

.navbar-item a:hover {
    color: #171717;
}


.index-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 4%;
    margin: 0 4%;
    padding-bottom: 5%;
}

.index-box {
    display: flex;
    flex-direction: column;
}

#index-left {
    flex-basis: 48%;
    order: 1;
    justify-self: left;
}

#index-left video {
    border-radius: 1vw;
    margin-top: 4%;
}

#index-right {
    flex-basis: 51%;
    justify-self: center;
    align-items: top;
    order: 2;
}

#index-right h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.index-text h2 {
    font-size: 4.4vw;
    padding-bottom: 0.6vw;
}

.index-buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2%;
    width: auto;
}

.index-buttons a {
    font-size: 2vw;
}

.index-button {
    text-decoration: none;
    padding: 2%;
    margin: 2%;
    background-color: #171717;
    width: auto;
    border: none;
    border-radius: 6px;
    color: #129c78;
    font-weight: 400;
}

.index-button:hover {
    background-color: white;
    color: #171717;
}

.why {
    margin-left: 4%;
    margin-right: 4%;
}

.why-statement{
    margin-left: 0.5%;
    margin-right: 5%;
}

.why-statement h2{
    font-size: 2.25vw;
}

.why img{
    height: 100%;
    max-width: 100%;
    border-radius: 1.5vw;
    object-fit: cover;
}

#why-img-1{
    height: 25vw;
}

#why-img-2{
    height: 27vw;
}

#why-img-3{
    height: 36vw;
}

.flexbox-why{
    display: flex;
    margin-top: 2%;
    background-color: #0f7056;
    border-radius: 1.5vw;
}

.why-tekst{
    width: 70%;
    margin: 0.25%;
    padding: 1%;
    color: antiquewhite;
    font-size: vw;
}

.why-bilde{
    width: 30%;
    border-radius: 25vw;
    margin: 0.25%;
}
.why button{
    font-size: 3vw;
    margin: 2%;
}

.flexbox-why-top{
    display: flex;
    justify-content: space-between;
}

#link-sources{
    
}

.get-form{
    margin-left: 3%;
}

.get-inputt{
    text-decoration: none;
    border: none;
    width: 80%;
    border-radius: 1.5vw;
    font-size: 1.5vw;
    border-bottom: #171717;
    padding: 0.75%;

}

.about {
    margin-left: 5%;
    margin-right:5%;
}

.about p{
    max-width: 80%;
}

.about a{
    text-decoration: none;
    color: #feffff;
    background-color: #129c78;
    border-radius: 1.5vw;
    padding: 2%;
}

.our-team{
    display: flex;
}

.team-members{
    background-color: #0f7056;
    color: #feffff;
    margin: 0.25%;
    border-radius: 1.5vw;
    padding: 1%;
    max-width: 28%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-members img{
    max-width: 100%;
    border-radius: 1.5vw;
    

}

.source{
    background-color: #0f7056;
    color: #feffff;
    border-radius: 1.5vw;
    padding: 1%;
    width: 80%;
    margin-top: 2%;
}

.footer {
    padding-top: 10%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
}

.footer p {
    font-size: 1vw;
}

.footer-index p {
    font-size: 1vw;
}

#footer-copyright {
    flex-basis: 33%;
    text-align: center;
    padding-left: 1%;
    margin-bottom: 0.%;
}

#footer-address {
    flex-basis: 33%;
    text-align: center;
    margin-bottom: 0.5%;
}

#footer-mail {
    flex-basis: 33%;
    text-align: center;
    padding-right: 1%;
    margin-bottom: 0.5%;
}

#index-mobile-header {
    display: block;
    width: 66%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.footer-index {
    padding-top: 10%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute; 
    bottom: 0;
}

#desktop-home-button {
    font-size: 1vw;
    padding-top: 0.4vw;
    padding-left: 0.4vw;
}

.test-wrapper {
    margin-right: 35%;
}

.contentInvest{
    text-align: left;
    position: relative;
    margin-left: 4%;
    margin-right: 20%;
}

.learnMore{
    text-decoration: none;
    padding: 1%;
    margin: 0;
    background-color: #0f7056;
    width: auto;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 400;
}
.learnMore a{
    font-size: 1.5vw;
}
.learnMore:hover{
    background-color: white;
    color: #0f7056;
}

.projects{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.flexProjects{
    display: flex;
}

.projectN{
    margin: 1em;
    padding: 1em;
    background-color: #0f7056;
    /*background-color: #feffff;*/
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectN img{
    width: 90%;
    border-radius: 1.5vw;
}

.projectHead{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.projectHead img{
    width: 70%;
    border-radius: unset;
    position: relative;
    left: 2.5vw;
}
.projectHead span{
    flex-basis: 20%;
}

.projectHead div{
    flex-basis: 20%;
}

.projectHead h3{
    flex-basis: 60%;
}

.projectNarea{
    display: flex;
    flex-direction: column;
}

.projectNarea h5{
    font-size: 1.5vw;
    margin-top: 0;
}

.projectNarea img{
    width: 10%;
    border-radius: unset;
    position: relative;
    right: 2vw;
}

.investText1{
    position: relative;
    right: 1.5vw;
}

.investbtn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2%;
    width: auto;
}

.investbtn h4{
    font-size: 2vw;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #129c78;
    border: none;
    border-radius: 6px;
    color: whitesmoke;
    width: 5em;
}

.investbtn h4:hover{
    background-color: #171717;
    color: #129c78;
}

@media screen and (max-width: 1500px){
    .navbar-container a {
        font-size: 1.8vw;
    }

    #desktop-home-button {
        font-size: 1.2vw;
        padding-top: 0.5vw;
    }
}

@media screen and (min-width: 1201px){

    .index-text {
        padding-left: 1.45%;
    }

    #index-left video {
        display: block;
    }

    #index-left img {
        display: none;
    }

    #navbar-homebutton {
        display: none;
    }

    .test-wrapper {
        font-size: 3vw;
    }

    #active {
        color: #171717;
        font-weight: 400;
    }

    #index-mobile-header {
        display: none;
    }

    #navbar-homebutton-index {
        display: none;
    }
}

@media screen and (max-width: 1200px){

    #active {
        color: #feffff;
        font-weight: 600;
    }

    .test-wrapper p {
        font-size: 5vw;
    }

    body {
        margin: 0;
    }

    #index-left video {
        display: none;
    }

    h1 {
        font-size: 12vw;
    }

    h2 {
        font-size: 7vw;
    }

    .navbar-list-left {
        display: none;
    }

    #navbar-homebutton-index a {
        color: #feffff;
        font-style: italic;
    }

    .navbar-container {
        background-color: #171717;
        position: fixed;
        top: 0;
        height: 4vh;
        margin: 0;
        padding: 0;
        border-bottom: #171717 solid 0.1vh;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        display: block;
    }

    .navbar-list {
        flex-basis: auto;
    }

    .navbar-item {
    }

    .navbar-item a {
        align-items: center;
        padding: 1vh;
        width: 100%;
        text-align: center;
        font-size: 1.8vh;
        color: #28d8a9;
        font-weight: 400;
    }

    .navbar-item a:hover {
        color: #feffff;
    }

    .index-container {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-top: 0;
        margin-top: 0;
    }

    .index-buttons {
        text-align: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 15%;
        padding-right: 15%;
        margin-top: 2vh;
    }

    .index-buttons a {
        font-size: 3vw;
        padding: 1.5vh;
        margin: 1vh 0;
    }

    #index-left {
        max-width: 800px;
        max-height: 450px;
        flex-basis: auto;
    }

    #index-left img {
        max-width: 100%;
        height: 300px;
        border-radius: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #index-left video {
        width: 75%;
        height: 50%;
        padding-top: none;
        margin-top: none;
        padding-left: 3%;
    }

    #index-right {
        margin-bottom: -5%;
        flex-basis: auto;
    }

    .contentInvest p{
        font-size: 5vw;
        text-align: left;
        position: relative;
        right: 0;
    }

    .projectNarea h5{
        font-size: 5vw;
    }

    .learnMore{
        font-size: 5vw;
        padding: 4vw;
    }

    .projectNtop span img{
        position: relative;
        left: 10vw;
    }

    .projectN img{
        border-radius: 3vw;
    }

    .projectHead img{
        border-radius: unset;
    }

    .projectNarea img{
        border-radius: unset;
    }

    .projectN p{
        font-size: 5vw;
    }
    .projectN h3{
        font-size: 7vw;
    }

    .flexProjects{
        flex-direction: column;
    }

    .investbtn h4{
        font-size: 6vw;
    }

    .footer-index {
        bottom: 0;
    }

    .footer-index p {
        font-size: 2vw;
    }

    .footer p {
        font-size: 2vw;
    }

    #index-mobile-header {
        padding-top: 4vh;
    }

    .why {
        padding-top: 4vh;
    }

}


@media screen and (min-aspect-ratio: 307/384) and (max-aspect-ratio: 25/16) and (max-width: 1200px){

    .footer-index {
        position: unset;
    }

}
