html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: #2ED0A4;
    min-height: 100vh;
    height: 100vh;
}

div {
    display: block;
}

h1 {
    font-size: 7vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #171717;
    margin-bottom: 0;
}

h2 {
    font-size: 5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h3 {
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 250;
}

p {
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #171717;
}

a {
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.navbar-container {
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 100%;
    z-index: 42;
    background-color: #171717;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navbar-list-left {
    display: inline-flex;
    flex-basis: 30%;
    flex-direction: row;
    justify-content: left;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.navbar-logo {
    display: flex;
    color: #feffff;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
}

.navbar-logo a {
    display: flex;
    color: #feffff;
    text-align: center;
    padding: 0 40px;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 500;
    font-style: italic;
}

.navbar-logo a:hover {
    color: #2ED0A4;
}


.navbar-list {
    display: flex;
    flex-direction: row;
    flex-basis: 70%;
    justify-content: space-around;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.navbar-item a{
    display: flex;
    color: #2ED0A4;
    text-decoration: none;
    font-size: 1.2vw;
    text-align: center;
}

.navbar-item a:hover {
    color: #feffff;
}


.index-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 4%;
    margin: 0 4%;
    padding-bottom: 4%;
}

.index-box {
    display: flex;
    flex-direction: column;
}

#index-left {
    flex-basis: 48%;
    order: 1;
    justify-self: left;
}

#index-left video {
    border-radius: 1vw;
    margin-top: 4%;
}

#index-right {
    flex-basis: 51%;
    justify-self: center;
    order: 2;
}

#index-right h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.index-text h2 {
    font-size: 4.4vw;
    padding-bottom: 0.6vw;
}

.index-buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2%;
    width: auto;
}

.index-buttons button {
    font-size: 2vw;
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
}

.index-button {
    text-decoration: none;
    padding: 2%;
    margin: 2%;
    background-color: #171717;
    width: auto;
    border: none;
    border-radius: 6px;
    color: #2ED0A4;
    font-weight: 400;
}

.index-button:hover {
    background-color: white;
    color: #171717;
}

.index-bottom {
    margin: 0 25%;
    text-align: center;
}

.index-bottom p {
    color: #171717;
    font-weight: 400;
    font-size: 1.7vw;
}

#sol-italic {
    font-style: italic;
    font-weight: 500;
}

.why {
    margin-left: 4%;
    margin-right: 4%;
}

.why-statement{
    margin-left: 0.5%;
    margin-right: 36%;
}

.why-statement h2{
    font-size: 2.1vw;
    margin-top: 2vw;
    font-weight: 400;
}

.why img{
    height: 100%;
    max-width: 100%;
    border-radius: 1.5vw;
    object-fit: cover;
}

#why-img-1{
    height: 25vw;
}

#why-img-2{
    height: 30.5vw;
}

#why-img-3{
    height: 39vw;
}

.flexbox-why{
    display: flex;
    margin-top: 2%;
    background-color: #0f7056;
    border-radius: 1.5vw;
}

.why-tekst{
    width: 70%;
    margin: 0.25%;
    padding: 1%;
    color: #faf8e5;
    font-size: 2vw;
}

.why-tekst p {
    color: #faf8e5;
}

.why-bilde{
    width: 30%;
    border-radius: 25vw;
    margin: 0.25%;
}
.why button{
    font-size: 3vw;
    margin: 2%;
}

.flexbox-why-top{
    display: flex;
    justify-content: space-between;
}

.flexbox-why-top h1 {
    margin-top: 0;
    padding-top: 0;
}

.getContent{
    text-align: left;
    margin-left: 4%;
    margin-right: 35%;
}

.get-input{
    text-decoration: none;
    width: 100%;
    font-size: 1.5vw;
    padding: 0.75%;
    font-family: 'Roboto', sans-serif;
    background: none;
    border: none;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #feffff;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 45%;
    margin-left: 4%;
    padding-left: 1%;
    padding-right: 3%;
    background-color: #0f7056;
    border-radius: 2vw;
    color: #feffff;
}

.get-form input, select{
    border-bottom: solid #171717;
}

.get-form ::placeholder{
    color: #c2c2c2;
}

.get-form fieldset{
    border: none;
    margin: 0;
    padding: 0;
}

#submitBtn, #formTextarea{
    background: #feffff;
    border: none;
    border-radius: 1.5vw;
}

#formTextarea {
    padding: 1.5%;
    color: #171717;
}

#submitBtn {
    background-color: #171717;
    color: #feffff;
    font-weight: 300;
    padding: 2%;
    cursor: pointer;
    width: 40%;
    margin-bottom: 4%;
    margin-left: 30%;
}


#submitBtn:hover {
    background-color: #feffff;
    color: #0f7056;
}

.selectDiv{
    border-bottom: solid #171717;
    margin-bottom: 0;
    width: 101.5%;
}

#get-input-yes-no {
    margin-top: 2%;
    margin-bottom: 2%;
}

#get-input-message {
    margin-top: 3%;
}

.about {
    margin-left: 4%;
    margin-right:4%;
}

.about h2 {
    margin-top: 2vw;
}

.about p{
    width: 65%;
    font-weight: 400;
    line-height: 1.5;   
}

.about-logo{
    font-weight: 400;
    font-style: italic;
}

#mission-statement {
    font-size: 1.6vw;
    margin-right: 20vw;
}

#kevin p {
    font-weight: 300;
}

#elias p {
    font-weight: 300;
}

#jonathan p {
    font-weight: 300;
}

.source{
    background-color: #0f7056;
    border-radius: 1.5vw;
    width: 80%;
    margin-top: 2%;
    padding: 0 1% 1%;
    display: flex;
    flex-direction: column;
}

.source-h1{
    margin-bottom: 2%;
}

.source p {
    color: #feffff;
}

.source a {
    color: #feffff;
}

.sources-page {
    margin-left: 3%;
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
}

.sources-page h3{
    margin-top: 2%;
}

.source-item {
    font-size: 1vw;
    color: #6BC3FF;
    text-decoration: none;
}

.source-item:visited {
    color: #6BC3FF;
}


.footer {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
    background-color: #0f7056;
}

.footer p {
    font-size: 1vw;
    margin: 0.5% 0 0;
    color: #feffff;
}

.footer-index p {
    font-size: 1vw;
}

#footer-copyright {
    flex-basis: 33%;
    text-align: center;
    padding-left: 1%;
    margin-bottom: 0.5%;
}

#footer-address {
    flex-basis: 33%;
    text-align: center;
    margin-bottom: 0.5%;
}

#footer-mail {
    flex-basis: 33%;
    text-align: center;
    padding-right: 1%;
    margin-bottom: 0.5%;
}

#index-mobile-header {
    display: block;
    width: 66%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.footer-index {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute; 
    bottom: 0;
    background-color: #0f7056;
}

.footer-index p {
    color: #feffff;
    margin: 0.5% 0 0;
}

#desktop-home-button {
    font-size: 1vw;
    padding-top: 0.4vw;
    padding-left: 0.4vw;
}

.contentInvest{
    text-align: left;
    position: relative;
    margin-left: 4%;
    margin-right: 35%;
}

#learn-more {
    color: #171717;
    font-weight: 400;
    font-size: 1.5vw;
}

.projects{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;
}

.thre-colum-layout{
    display: flex;
    justify-content: space-between;
}

#invest-project{
    margin-left: 4%;
    margin-right: 4%;
}

#project1{
    margin-left: 0;
}

#project3{
    margin-right: 0;
}

.projectN{
    margin: 0.5%;
    padding: 2%;
    background-color: #0f7056;
    border-radius: 1.5vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.projectN h3 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.projectN p{
    color: #feffff;
    text-align: center;
    width: 80%;
    margin-top: 0;
}

.projectN img{
    max-width: 100%;
    border-radius: 1.5vw;
}

.projectHead{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.projectHead img{
    width: 100%;
    border-radius: unset;
}
.projectHead span{
    width: 25%;
    flex-basis: 20%;
}

.projectHead p{
    flex-basis: 20%;
    font-size: 1vw;
}


.projectHead h3{
    flex-basis: 60%;

}

.houseImg{
    height: 17vw;
    object-fit: cover;
}

.projectNarea{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.projectNarea p{
    font-size: 1.5vw;
    margin-top: 0;

}

.projectNarea img{
    width: 15%;
    border-radius: unset;
    position: relative;
    right: 24%;
}

.available-kW{
    position: relative;
    right: 7%;
}

h3 span{
    font-size: 1vw;
}

.btn-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
}

.btn-div a {
    text-decoration: none;
    cursor: default;
}

.btn-div button{
    font-size: 2vw;
    padding: 0.2em;
    background-color: #129c78;
    border: #0f7056 solid 0.4vh;
    border-radius: 3vh;
    color: #feffff;
    width: 5em;
    margin: 0.5em 0.5em 5%;
}

.about button{
    width: 8em;
}

.btn-div button:hover{
    background: #feffff;
    color: #129c78;
    border: #feffff solid 0.4vh;
}

#source-button {
    cursor: pointer;
}



.invest-disc-div{
    display: flex;
    justify-content: center;
    align-content: center;
}

.invest-disc img{
    width: 5vw;
    height: 5vw;
}

option {
    color: #171717;
}

@media screen and (min-aspect-ratio: 1199/780) and (max-width: 1200px) {
    .footer-index{
        position: unset;
    }
}


@media screen and (min-width: 1700px){
    .index-bottom{
        padding-bottom: 15%;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1700px){

    .index-bottom p {
        font-size: 2vw;
    }

    .index-bottom {
        margin: 0 16%;
    }

}

@media screen and (max-width: 1500px){
    .navbar-container a {
        font-size: 1.8vw;
    }

    #desktop-home-button {
        font-size: 1.2vw;
        padding-top: 0.5vw;
    }

    .index-bottom p {
        font-size: 2.5vw;
    }

    .index-bottom {
        margin: 0 12%;
    }

    .index-container {
        padding-top: 8%
    }
}

@media screen and (min-width: 1201px){

    .flexbox-why-top {
        margin-top: 7vh;
    }

    .index-text {
        padding-left: 1.45%;
    }

    #index-left video {
        display: block;
    }

    #index-left img {
        display: none;
    }

    #navbar-homebutton {
        display: none;
    }

    .test-wrapper {
        font-size: 3vw;
    }

    #active {
        color: #feffff;
        font-weight: 400;
    }

    #index-mobile-header {
        display: none;
    }

    #navbar-homebutton-index {
        display: none;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1350px){
    .index-container {
        padding-top: 10vw;
    }
}

@media screen and (min-aspect-ratio: 4/7) and (max-aspect-ratio: 25/16) and (max-width: 1200px){

    .footer-index {
        position: unset;
        flex-direction: row;
    }

}

@media screen and (max-width: 1200px){

    #active {
        color: #feffff;
        font-weight: 600;
    }

    .test-wrapper p {
        font-size: 5vw;
    }

    body {
        margin: 0;
    }

    #index-left video {
        display: none;
    }

    h1 {
        font-size: 12vw;
    }

    h2 {
        font-size: 7vw;
    }

    .navbar-list-left {
        display: none;
    }

    #navbar-homebutton-index a {
        color: #feffff;
        font-style: italic;
    }

    .navbar-container {
        background-color: #171717;
        position: fixed;
        top: 0;
        height: 4vh;
        margin: 0;
        padding: 0;
        border-bottom: #171717 solid 0.1vh;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        display: block;
    }

    .navbar-list {
        flex-basis: auto;
    }

    .navbar-item a {
        align-items: center;
        padding: 1vh;
        width: 100%;
        text-align: center;
        font-size: 1.8vh;
        color: #28d8a9;
        font-weight: 400;
    }

    .navbar-item a:hover {
        color: #feffff;
    }

    .index-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-top: 0;
        margin-top: 0;
    }

    .index-buttons {
        text-align: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 15%;
        padding-right: 15%;
        margin-top: 2vh;
    }

    .index-buttons button {
        font-size: 3.5vw;
        padding: 0.2vh;
        margin: 1vh 0;
    }

    #index-left {
        max-width: 800px;
        max-height: 450px;
        flex-basis: auto;
    }

    #index-left img {
        max-width: 100%;
        height: 300px;
        border-radius: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #index-left video {
        width: 75%;
        height: 50%;
        padding-top: 0;
        margin-top: 0;
        padding-left: 3%;
    }

    #index-right {
        margin-bottom: -5%;
        flex-basis: auto;
    }

    .flexbox-why-top {
        padding-bottom: 10%;
    }

    .why p, .why h2{
        font-size: 5vw;
    }

    .why h2{
        margin-top: -4%;
    }

    .why h3{
        font-size: 8vw;
    }

    .why-bilde{
        display: none;
    }

    .why-tekst{
        width: 95%;
    }

    .getContent p{
        font-size: 5vw;
    }

    .getContent h3{
        font-size: 8vw;
    }

    #learn-more {
        font-size: 5vw;
    }

    .get-form {
        margin-right: 4%;
        margin-left: 4%;
    }

    .get-form form{
        margin-left: 4%;
        margin-right: 0;
    }

    .get-form ::placeholder{
        color: #2d2d2d;
    }

    #submitBtn{
        width: 76.5%;
        margin-left: 0;
    }

    #selectForm{
        width: 76.5%;
    }

    .selectDiv{
        width: 76.5%;
    }

    .get-form label{
        font-size: 5vw;
        margin-right: 7%;
        display: inline-block;
    }

    #labelYes, #labelNo{
        margin-right: 10%;
        display: unset;
    }

    #labelYesNo{
        width: fit-content;
    }


    .get-input{
        width: 90%;
        font-size: 5vw;
        color: #171717;
    }

    #form{
        width: 90%;
        background-color: unset;
    }


    .getContent {
        margin-right: 4%;
    }

    .contentInvest {
        margin-right: 4%;
    }

    .contentInvest p{
        font-size: 5vw;
        text-align: left;
    }

    .projectNarea p{
        font-size: 5vw;
    }

    .projectHead img{
        border-radius: unset;
    }

    .projectNarea img{
        border-radius: unset;
    }

    .projectN {
        width: 96.75%;
        margin-left: 0;
        margin-right: 0;
    }

    .projectN p{
        font-size: 5vw;
        margin-left: 0;
    }
    .projectN h3{
        font-size: 7vw;
    }

    .projectN h3 span {
        font-size: 2vw;
    }

    .thre-colum-layout{
        flex-direction: column;
        justify-content: center;
    }

    .btn-div h4{
        font-size: 6vw;
    }
    .btn-div button{
        font-size: 6vw;
    }

    .houseImg{
        width: 95%;
        height: unset;
        object-fit: unset;
    }

    #invest-project{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about p{
        font-size: 5vw;
        width: 100%;
    }

    #mission-statement{
        font-size: 5vw;
        margin-right: 0;
    }

    .footer-index {
        bottom: 0;
        flex-direction: column;
        padding-top: 1%;
    }

    .footer-index p {
        font-size: 3vw;
    }

    .footer {
        flex-direction: column;
        padding-top: 1%;
    }

    .footer p {
        font-size: 3vw;
    }

    #index-mobile-header {
        padding-top: 4vh;
    }

    .why {
        padding-top: 4vh;
    }

    .why-statement{
        margin-right: 5%;
    }

    .why-statement h2 {
        font-size: 5.1vw;
        font-weight: 500;
    }

    .index-bottom {
        margin: 5% 10%;
    }

    .index-bottom p {
        font-size: 4vw;
    }

    .invest-disc-div {
        margin-left: 4%;
        margin-right: 4%;
        background-color: #0f7056;
        margin-bottom: 4%;
        padding: 2%;
        border-radius: 2vw;
    }

    .invest-disc-div p {
        font-size: 3.5vw;
        color: #feffff;
    }

    .invest-disc-div img {
        padding-top: 3%;
    }
    .source{
        width: 94%;
    }
    .sources-page p, a{
        font-size: 4vw;
    }
    .sources-page h3{
        font-size: 7vw;
    }
    .source-item{
        font-size: 3.5vw;
    }

}

@media screen and (min-width: 2160px){
    .index-bottom{
        padding-bottom: unset;
    }
}

@media screen and (min-aspect-ratio: 1234/700) and (min-width: 1200px) {
    .footer-index{
        position: unset;
    }
}